
/* Boostrap acordeon */
$accordion-color: $colorF;                  
$body-color: $colorF;
$accordion-bg: $colorD;                           
$body-bg: $colorE;
$accordion-border-width: 1px;                  
$border-width: 1px;
$accordion-border-color: rgba($colorF, .125);
$accordion-border-radius: 1.5px;                 
$border-radius: 1.5px;

.strongPd {
    padding: 5px;
}