
/* Background Color */

.bg-e {
    background-color: $colorD;
}

.fontNav {
    font-size: 20px;
}

nav li a{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
nav li a:hover {
    background-color: $colorA;
    transition: 0.5s;
}

.disabledLi {
    background-color: $colorA;
}

@media (max-width: 760px) {
    nav li a {
        max-width: 35%;
    }
}

@media (min-width: 761px) and (max-width: 1024px) {
    nav li a {
        max-width: 40%;
    }
}