.clientes {
    line-height: 1.5;
}

.clientes__titulo{
    font-weight: bolder;
    text-align: center;
}

.clientes--background{
    background-color: $colorG;
}

.clientes--background2{
    background-color: $colorH;
}